<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>    
    <%= form.select :day, [["月曜日", "月"],["火曜日", "火"],["水曜日", "水"],["木曜日", "木"],["金曜日", "金"],["土曜日", "土"]], :include_blank => true  %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.select :limit, [["1限", 1],["2限", 2],["3限", 3],["4限", 4],["5限", 5],["6限", 6]], :include_blank => true  %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.number_field :unit %>
  </div>

  <div class="field">
    <%= form.label :professor %>
    <%= form.text_field :professor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
