<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @table.day %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @table.limit %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @table.subject %>
</p>

<p>
  <strong>Room:</strong>
  <%= @table.room %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @table.unit %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @table.professor %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
